// Here you can add other styles

@import "~animate.css/animate.min.css";

.disabled-danger{
    background-color: #f86c6b;
    color: #536c79;
    pointer-events: none;
    cursor: default;
}
.disabled-warning{
    background-color: #ffed4a;
    color: #536c79;
    pointer-events: none;
    cursor: default;
}
// @import "./vendors/sweet-alert/theme";
@media screen and (min-width: 770px) {
    .table-search{
        height: calc(1.6em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.6;
        color: #3e515b;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c2cfd6;
        border-radius: 0;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        float:right;
        margin-right: 7rem;
        margin-top:-10px
    }
    .btn-rm-endpoint{
        position: relative;
        top: 50%;
    }
}

@media screen and (max-width: 769px) {
    .table-search{
        display:none
    }
}

.switch-slider::before {
    position: absolute;
    top: 2px;
    left: 29px;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    content: "";
    background-color: #fff;
    border: 1px solid #c8ced3;
        border-top-color: rgb(200, 206, 211);
        border-right-color: rgb(200, 206, 211);
        border-bottom-color: rgb(200, 206, 211);
        border-left-color: rgb(200, 206, 211);
    transition: .15s ease-out;
    border-radius: .125rem;
    transform: translateX(-26px);
}

.switch-label .switch-slider::after {
    position: absolute;
    top: 43%;
    right: 1px;
    z-index: 1;
    width: 70%;
    margin-top: -.5em;
    font-size: 12px;
    font-weight: 599;
    line-height: 1;
    color: red;
    text-align: center;
    text-transform: uppercase;
    content: attr(data-unchecked);
    transition: inherit;
    font: icon;
    
}
.switch-label {
    width: 75px;
    height: 27px;
}
