<template>
    <div class="col-md-12">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-book"></i>Auditoria
                            <filter-bar style="margin-right:0 !important"></filter-bar>
                        <div class="card-actions"></div>
                    </div>
                    <div class="card-body">
                        <vuetable ref="vuetable"
                            api-url="/api/auditorias"
                            :fields=fields
                            :css=css.table
                            data-path="data"
                            pagination-path=""
                            :sort-order="sortOrder"
                            :multi-sort="false"
                            :append-params="moreParams"
                            @vuetable:pagination-data="onPaginationData"
                        >
                        </vuetable>
                        <div class="vuetable-pagination">
                            <vuetable-pagination :css="css.pagination" ref="pagination" @vuetable-pagination:change-page="onChangePage"></vuetable-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    data () {
        return {
            errors: {},
            submiting: false,
            css:{
                table: {
                    tableWrapper: '',
                    tableHeaderClass: 'mb-0',
                    tableBodyClass: 'mb-0',
                    tableClass: 'table table-responsive-sm table-striped table-bordered table-hover',
                    loadingClass: 'loading',
                    ascendingIcon: 'fa fa-sort-up',
                    descendingIcon: 'fa fa-sort-down',
                    ascendingClass: 'sorted-asc',
                    descendingClass: 'sorted-desc',
                    sortableIcon: 'fa fa-sort',
                    detailRowClass: 'vuetable-detail-row',
                    handleIcon: 'fa fa-bars text-secondary',
                    renderIcon(classes, options) {
                        return `<i class="${classes.join(' ')}"></span>`
                    }
                },
                pagination: {
                    infoClass: 'pull-left',
                    wrapperClass: 'vuetable-pagination justify-content-center pagination',
                    activeClass: 'btn-primary active',
                    disabledClass: 'disabled',
                    pageClass: 'btn btn-border',
                    linkClass: 'btn btn-border',
                    icons: {
                        first: '',
                        prev: '',
                        next: '',
                        last: '',
                    },
                },
                icons: {
                    first: 'glyphicon glyphicon-step-backward',
                    prev: 'glyphicon glyphicon-chevron-left',
                    next: 'glyphicon glyphicon-chevron-right',
                    last: 'glyphicon glyphicon-step-forward',
                },
            },
            sortOrder: [ { field: 'created_at', sortField: 'created_at', direction: 'desc'} ],
            fields:[
                { name:'name', title:"Usuário", titleClass:'text-center', dataClass: 'text-justify' },
                { name:'termo_pesquisado', title:"Termo Pesquisado", titleClass:'text-center', dataClass: 'text-justify' },
                { name:'orgaos_pesquisados', title:"Orgão", titleClass:'text-center', dataClass: 'text-justify' },
                { name:'created_at', title:"Data Pesquisa", titleClass:'text-center', dataClass: 'text-center', sortField: 'created_at' }

            ],
            moreParams: {}
        }
    },
    mounted() {
        this.$events.$on('filter-set', eventData => this.onFilterSet(eventData))
        this.$events.$on('filter-reset', e => this.onFilterReset())
    },
    methods: {
        onPaginationData (paginationData) {
        this.$refs.pagination.setPaginationData(paginationData)
        },
        onChangePage (page) {
        this.$refs.vuetable.changePage(page)
        },
        onFilterSet (filterText) {
            this.moreParams = {
                'filter': filterText
            }
            Vue.nextTick( () => this.$refs.vuetable.refresh())
        },
        onFilterReset () {
            this.moreParams = {}
            Vue.nextTick( () => this.$refs.vuetable.refresh())
        },

    },
}
</script>
