<template>
    <div class="col-md-12">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-user-shield"></i>Regras do sistema
                        <filter-bar></filter-bar>
                        <div class="card-actions">
                            <a href="/roles/create"><small class="text-muted">Criar nova Permissão</small></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <vuetable ref="vuetable"
                            api-url="/api/roles"
                            :fields=fields
                            :css=css.table
                            data-path="data"
                            pagination-path=""
                            :sort-order="sortOrder"
                            :multi-sort="true"
                            :append-params="moreParams"
                            @vuetable:pagination-data="onPaginationData"
                        >
                            <div slot="actions" slot-scope="props">
                                <div class="table-button-container">
                                    <a :href="`/roles/${props.rowData.id}/edit`" class="btn btn-primary btn-sm " title="Editar"><i class="fa fa-edit"></i></a>
                                    <button class="btn btn-danger btn-sm" @click="deleteRow(props.rowData)"  title="Remover"><i class="fa fa-trash"></i></button>
                                </div>
                            </div>
                        </vuetable>
                        <div class="vuetable-pagination">
                            <vuetable-pagination :css="css.pagination" ref="pagination" @vuetable-pagination:change-page="onChangePage"></vuetable-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    data () {
        return {
            permissions: {},
            errors: {},
            submiting: false,
            css:{
                table: {
                    tableWrapper: '',
                    tableHeaderClass: 'mb-0',
                    tableBodyClass: 'mb-0',
                    tableClass: 'table table-responsive-sm table-striped table-bordered',
                    loadingClass: 'loading',
                    ascendingIcon: 'fa fa-sort-up',
                    descendingIcon: 'fa fa-sort-down',
                    ascendingClass: 'sorted-asc',
                    descendingClass: 'sorted-desc',
                    sortableIcon: 'fa fa-sort',
                    detailRowClass: 'vuetable-detail-row',
                    handleIcon: 'fa fa-bars text-secondary',
                    renderIcon(classes, options) {
                        return `<i class="${classes.join(' ')}"></span>`
                    }
                },
                pagination: {
                    infoClass: 'pull-left',
                    wrapperClass: 'vuetable-pagination justify-content-center pagination',
                    activeClass: 'btn-primary active',
                    disabledClass: 'disabled',
                    pageClass: 'btn btn-border',
                    linkClass: 'btn btn-border',
                    icons: {
                        first: '',
                        prev: '',
                        next: '',
                        last: '',
                    },
                },
                icons: {
                    first: 'glyphicon glyphicon-step-backward',
                    prev: 'glyphicon glyphicon-chevron-left',
                    next: 'glyphicon glyphicon-chevron-right',
                    last: 'glyphicon glyphicon-step-forward',
                },
            },
            sortOrder: [ { field: 'id', sortField: 'id', direction: 'asc'} ],
            fields:[
                { name:'name', title:"Regras",titleClass:'text-center',dataClass: 'text-center',sortField: 'name', },
                { name:'permissions', title:"Permissões",titleClass:'text-center',dataClass: 'text-center' },
                {name:'actions',title:'Ações',titleClass:'text-center',dataClass: 'text-center'}
            ],
            moreParams: {}
        }
    },
    mounted() {
        this.$events.$on('filter-set', eventData => this.onFilterSet(eventData))
        this.$events.$on('filter-reset', e => this.onFilterReset())
    },
    methods: {
        onPaginationData (paginationData) {
        this.$refs.pagination.setPaginationData(paginationData)
        },
        onChangePage (page) {
        this.$refs.vuetable.changePage(page)
        },
        onFilterSet (filterText) {
            this.moreParams = {
                'filter': filterText
            }
            Vue.nextTick( () => this.$refs.vuetable.refresh())
        },
        onFilterReset () {
            this.moreParams = {}
            Vue.nextTick( () => this.$refs.vuetable.refresh())
        },
        deleteRow(rowData){
            this.submiting = true;
            Swal.fire({
                title: "Confirmação",
                text: "Deseja realmente executar esta operação?",
                icon: "warning",
                type: "warning",
                showCancelButton: true,
                confirmButtonText:"Cancelar",
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Remover!',
                dangerMode: true,
            }).then((willDelete) => {
                if(willDelete.value){
                    axios.delete(`/roles/${rowData.id}`)
                    .then(response => {
                        this.errors = {message:response.data.errors}
                        this.submiting = false
                        if(!response.data.errors){
                            this.$toasted.global.success(response.data.success);
                            window.location.href="/roles"
                        }else{
                            this.$toasted.global.error(this.errors.message);
                        }
                    })
                }
            });

        }
    }
}
</script>
