<template>
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-success btn-sm" @submit="false"> <i class="fa fa-plus"></i></button>
        </div>
    </div>
</template>
