<template>
    <div class="addEndpoints">
        <div class="row">
            <div class="form-group col-sm-5">
                <label for="base_url" class="font-weight-bold">Url Base</label>
                <input class="form-control" placeholder="http://localhost" :class="{'is-invalid': errors.base_url}" type="text" v-model="endpoint.base_url">
            </div>
            <div class="form-group col-sm-3">
                <label for="port" class="font-weight-bold">Porta</label>
                <input class="form-control" placeholder="8080" :class="{'is-invalid': errors.port}" type="text" v-model="endpoint.port">
            </div>
            <div class="form-group col-sm-4">
                <label for="recurso" class="font-weight-bold">Recurso</label>
                <input class="form-control" placeholder="/api/v1/secretaria" :class="{'is-invalid': errors.recurso}" type="text" v-model="endpoint.recurso">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-5">
                <label for="api_key" class="font-weight-bold">API key</label>
                <input class="form-control" :class="{'is-invalid': errors.api_key}" type="text" v-model="endpoint.api_key">
            </div>
            <div class="form-group col-sm-5">
                <label for="api_secret" class="font-weight-bold">API Secret</label>
                <input class="form-control" :class="{'is-invalid': errors.api_secret}" type="text" v-model="endpoint.api_secret">
            </div>
            <div class="form-group col-md-2">
                <button class="btn btn-danger btn-sm btn-rm-endpoint" @submit="false"> <i class="fa fa-minus"></i></button>
            </div>
        </div>
    </div>
</template>
<script>

export default {
    data () {
        return {
            endpoint: {},
            errors: {},
            submiting: false,
        }
    },
    mounted() {
        console.log('qui')
        this.getEndpoints();
    },
    methods: {
        getEndpoints(){
            axios.get(`/api/endpoints/`)
            .then(response => {
                this.endpoints = response.data
            })
        }
    }
}
</script>
