<template>
  <div class="card">
    <div class="card-header">
      <i class="fa fa-list-alt"></i> Resultados
    </div>
    <div class="card-body">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">

                <a  v-for="(value,name,index) in this.endpoints"
                    v-bind:key="index"
                    :class="{'active': index==0}"
                    class="nav-item nav-link"
                    :id="`nav-${name}-tab`"
                    data-toggle="tab"
                    :href="`#nav-${name}`" role="tab" aria-controls="nav-home" aria-selected="true" >
                    <i :class="`fas fa-landmark icon-${name}`" ></i> {{name}}
                </a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show"
                 v-for="(value,name,index) in this.endpoints"
                 v-bind:key="index"
                 :class="{'active': index==0}"
                 :id="`nav-${name}`" role="tabpanel" :aria-labelledby="`nav-${name}-tab`" >
                <dadosbasicos-component
                v-bind:orgao=name
                v-bind:cpf=request.cpf
                v-bind:link=value
                ></dadosbasicos-component>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="form-group row">
          <div class="col-md-2">
            <a href='/home' class="btn btn-primary" :disabled="submiting" >
              <i class="fa fa-arrow-alt-circle-left"></i> Voltar
            </a>
          </div>
        </div>
    </div>
  </div>
</template>
<script>
export default {
    props: ['request','endpoints','roles','permissions'],
  data() {
    return {
        dados: {},
        errors: {},
        submiting: false
    };
  },
  mounted() {
  },
  methods: {
  }
};
</script>
