<template>
    <div class="card-group">
        <div class="card">
            <form autocomplete="off" @submit.prevent="login" method="post">
                <div class="card-body p-5">
                    <div class="text-center d-lg-none">
                        <img src="svg/modulr.svg" class="mb-5" width="150" alt="Modulr Logo">
                    </div>
                    <h1>Login</h1>
                    <p class="text-muted">Sign In to your account</p>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-user"></i></span>
                        </div>
                        <!-- <input class="form-control" :class="{'is-invalid': errors.email}" type="email" v-model="user.email" placeholder="Email Address" required autofocus> -->
                        <input class="form-control" :class="{'is-invalid': errors.matricula}" type="numeric" v-model="user.matricula" placeholder="Matricula" required autofocus>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="icon-lock"></i>
                            </span>
                        </div>
                        <input type="password" class="form-control" :class="{'is-invalid': errors.password}" v-model="user.password" name="password" placeholder="Password" required>
                    </div>
                    <div class="input-group mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="remember" id="remember" >
                            <label class="form-check-label" for="remember">Remember Me</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary px4" :disabled="submiting">
                                <i class="fas fa-spinner fa-spin" v-if="submiting"></i>Login
                            </button>
                        </div>
                        <div class="col-8 text-right">
                            <a class="btn btn-link px-0" href="/password/reset">Forgot Your Password?</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
export default {
  data () {
    return {
      user: {},
      errors: {},
      submiting: false
    }
  },
  mounted() {
    //
  },
  methods: {

    login() {
      this.submiting = true
      axios.post( `/login`, this.user)
      .then(response => {
        this.errors = {message:response.data.errors}
        this.submiting = false
        if(!response.data.errors){
            this.$toasted.global.login(`Bem Vindo...`);
            window.location.href = '/home';
        }
        else{
            this.$toasted.global.error(this.errors.message);
        }
      })
      .catch(error => {
        this.errors = error.response.data.errors
        this.submiting = false
        for (const key in  error.response.data.errors) {
            if (error.response.data.errors.hasOwnProperty(key)) {
                const element = error.response.data.errors[key];
                element.forEach(el => {
                    this.$toasted.global.error(el);
                });
            }
        }
      })
    }
  }
}
</script>
