<template>
    <div class="row">
        <label class="font-weight-bold col-md-12"  v-show="this.indice===0">Endereços Conhecidos <i class="fas fa-map-marker-alt"></i> </label>
        <div class="form-group col-sm-6">
            <label for="address">Endereço</label>
            <input readonly class="form-control" :class="{'is-invalid': errors.endereco}" v-model="enderecos.endereco"  type="text">
        </div>
        <div class="form-group col-sm-2">
            <label for="postal-code">CEP</label>
            <input readonly class="form-control"  :class="{'is-invalid': errors.name}" type="text" v-model="enderecos.cep">
        </div>
        <div class="form-group col-sm-4">
            <label for="city">Cidade</label>
            <input readonly class="form-control" :class="{'is-invalid': errors.name}" type="text" v-model="enderecos.cidade">
        </div>
    </div>
</template>

<script>
export default {
    props:['enderecos','indice'],
  data () {
    return {
      dados: {},
      errors: {},
      submiting: false
    }
  },
  mounted() {
  },
  methods: {
  }
}
</script>
