<template>
    <div class="row">
        <label class="font-weight-bold col-md-12"  v-show="this.indice===0">Contatos <i class="fas fa-phone-square"></i> </label>
        <div class="form-group col-sm-6">
            <label for="email">Email</label>
            <input readonly class="form-control"  :class="{'is-invalid': errors.name}" type="email"  v-model="contatos.email">
        </div>
        <div class="form-group col-sm-3">
            <label for="fone">Telefone</label>
            <input readonly class="form-control"  :class="{'is-invalid': errors.name}" type="tel" v-model="contatos.fone">
        </div>
    </div>
</template>

<script>
export default {
    props:['contatos','indice'],
  data () {
    return {
      dados: {},
      errors: {},
      submiting: false
    }
  },
  mounted() {
  },
  methods: {
  }
}
</script>
