<template>
    <div class="row">
        <div class="col-md-12 col-auto">
            <div class="row">
                <label class="font-weight-bold col-md-12">Dados Básicos <i class="fas fa-id-card"></i> </label>
                <div class="form-group col-sm-6">
                    <label for="name">Nome</label>
                    <input readonly class="form-control" :class="{'is-invalid': errors.name}" required v-model="dados.nome" type="text">
                </div>
                <div class="form-group col-sm-3">
                    <label for="aniversary">Data de Nascimento</label>
                    <input readonly class="form-control"  :class="{'is-invalid': errors.name}" v-model="dados.dt_nasc" type="text">
                </div>
                <div class="form-group col-sm-3">
                    <label for="cpf">CPF</label>
                    <input readonly class="form-control"  :class="{'is-invalid': errors.name}" v-model="dados.cpf" type="text">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-2">
                    <label for="i_estadual">Inscrição Estadual</label>
                    <input readonly class="form-control"  :class="{'is-invalid': errors.name}" type="text"  v-model="dados.isc_estadual">
                </div>
                <div class="form-group col-sm-2">
                    <label for="cnpj">CNPJ</label>
                    <input readonly class="form-control"   :class="{'is-invalid': errors.name}" type="text" v-model="dados.cnpj">
                </div>
                <div class="form-group col-sm-8">
                    <label for="razo_social">Razão Social / Nome Fantasia</label>
                    <input readonly class="form-control" :class="{'is-invalid': errors.name}" type="text"  v-model="dados.razao_social">
                </div>
            </div>
            <!-- Endereços -->
            <address-component
            v-for="(value,name,index) in dados.enderecos"
            v-bind:key="index"
            v-bind:indice="name"
            v-bind:enderecos="value">
            </address-component>
            <!-- Contatos -->
            <contacts-component
            v-for="(value,name,index) in dados.contatos"
            v-bind:key="index"
            v-bind:indice="name"
            v-bind:contatos="value">
            </contacts-component>
            <!-- Folha -->
            <vinculos-component
            v-for="(value,name,index) in dados.vinculos"
            v-bind:key="index"
            v-bind:indice="name"
            v-bind:vinculos="value">
            </vinculos-component>

        </div>
    </div>
</template>

<script>
export default {
    props:['cpf','link','orgao'],
  data () {
    return {
      dados: {},
      errors: {},
      submiting: false
    }
  },
  mounted() {
    this.getR()
  },
  methods: {
    getReturn() {
     $('#id-nav-seplog').html('')
      let cpf = this.cpf.replace('.','').replace('.','').replace('-','');
      axios.get(`${this.link}?cpf=${cpf}`)
      .then(response => {
        this.errors = false
        this.dados = response.data[0]
        if(response.data.length>0)
        this.$toasted.global.successTop(`Dados da ${this.orgao} carregados.`);
      })
      .catch(error => {
        this.errors = error
        // $(`#nav-${this.orgao}-tab`).hide();
        $(`#nav-${this.orgao}-tab`).addClass('fa fa-fire disabled-danger');
        $(`.icon-${this.orgao}`).removeClass(`fa-user`).addClass('');
        this.dados=false
        this.$toasted.global.errorTop(`${this.orgao}\n ${error}`);
      })
    },
    async getR(){
        let cpf = this.cpf.replace('.','').replace('.','').replace('-','');
        var request_url = `${this.link.name}:${this.link.port}/${this.link.resource}`;
        var body = {"cpf": cpf,"login":this.link.api_key, "senha":this.link.api_secret};

        await axios({
            method: `${this.link.verb}`,
            url: request_url,
            data: body,
            timeout:5000
        }).then(response => {
            this.errors = false
            this.dados = response.data[0]
            if(response.data.length>0)
            $(`#nav-${this.orgao}-tab`).trigger('click')
            this.$toasted.global.successTop(`Dados da ${this.orgao} carregados.`);
        }).catch(error => {
            this.errors = error
            $(`#nav-${this.orgao}-tab`).addClass('fa fa-fire disabled-danger');
            $(`.icon-${this.orgao}`).removeClass(`fa-landmark`).addClass('');
            this.dados=false
            this.$toasted.global.errorTop(`${this.orgao}\n ${error}`);
        })
    },

  }
}
</script>
