<template>
    <div class="row">
        <label :id="`folha-${indice}`" @click="toggle" class="font-weight-bold col-md-12">
            <a href="javascript:void(0)">Folhas <i class="fas fa-hand-holding-usd"></i></a>
            <i class="fa fa-angle-down header-icon"  :class="{'fa-angle-up': this.show}"></i>
        </label>
        <div class="card-body" v-show="this.show">
            <vuetable ref="vuetable"
            :api-mode=false
            :data="this.folhas"
            :fields=fields
            :css=css.table
            >
            </vuetable>
        </div>
    </div>
</template>

<script>
export default {
    props:['folhas','indice'],
  data () {
    return {
      dados: {},
      show:false,
      errors: {},
      submiting: false,
      css:{
                table: {
                    tableWrapper: '',
                    tableHeaderClass: 'mb-0',
                    tableBodyClass: 'mb-0',
                    tableClass: 'table table-responsive-sm table-striped table-bordered table-hover',
                    loadingClass: 'loading',
                    ascendingIcon: 'fa fa-sort-up',
                    descendingIcon: 'fa fa-sort-down',
                    ascendingClass: 'sorted-asc',
                    descendingClass: 'sorted-desc',
                    sortableIcon: 'fa fa-sort',
                    detailRowClass: 'vuetable-detail-row',
                    handleIcon: 'fa fa-bars text-secondary',
                    renderIcon(classes, options) {
                        return `<i class="${classes.join(' ')}"></span>`
                    }
                },
                pagination: {
                    infoClass: 'pull-left',
                    wrapperClass: 'vuetable-pagination justify-content-center pagination',
                    activeClass: 'btn-primary active',
                    disabledClass: 'disabled',
                    pageClass: 'btn btn-border',
                    linkClass: 'btn btn-border',
                    icons: {
                        first: '',
                        prev: '',
                        next: '',
                        last: '',
                    },
                },
                icons: {
                    first: 'glyphicon glyphicon-step-backward',
                    prev: 'glyphicon glyphicon-chevron-left',
                    next: 'glyphicon glyphicon-chevron-right',
                    last: 'glyphicon glyphicon-step-forward',
                },
            },
            sortOrder: [ { field: 'referencia', sortField: 'referencia', direction: 'desc'} ],
            fields:[
                { name:'referencia', title:"Referência",titleClass:'text-center',dataClass: 'text-center', },
                { name:'matricula', title:"Matrícula",titleClass:'text-center',dataClass: 'text-center', },
                { name:'bruto', title:"Bruto",titleClass:'text-center',dataClass: 'text-center', },
                { name:'liquido', title:"Líquido",titleClass:'text-center',dataClass: 'text-center', },
                { name:'tipo_folha', title:"Tipo Folha",titleClass:'text-center',dataClass: 'text-center', },
            ],
            moreParams: {}
    }
  },
  mounted() {
  },
    methods: {
        onPaginationData (paginationData) {
            this.$refs.pagination.setPaginationData(paginationData)
        },
        onChangePage (page) {
            this.$refs.vuetable.changePage(page)
        },
        toggle: function() {
            this.show = !this.show;
        }
    }
}
</script>
