<template>
    <div>
        <div class="row">
            <label class="font-weight-bold col-md-12"  >Vinculos <i class="fas fa-file-contract"></i> </label>
            <div class="form-group col-sm-2">
                <label for="matricula">Matricula</label>
                <input readonly class="form-control"  :class="{'is-invalid': errors.name}" type="text"  v-model="vinculos.matricula">
            </div>
            <div class="form-group col-sm-3">
                <label for="admissao">Admissão</label>
                <input readonly class="form-control"  :class="{'is-invalid': errors.name}" type="text" v-model="vinculos.admissao">
            </div>
            <div class="form-group col-sm-6">
                <label for="ccusto">Centro de Custo</label>
                <input readonly class="form-control"  :class="{'is-invalid': errors.name}" type="text" v-model="vinculos.ccusto">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="setor">Setor</label>
                <input readonly class="form-control"  :class="{'is-invalid': errors.name}" type="text"  v-model="vinculos.setor">
            </div>
            <div class="form-group col-sm-3">
                <label for="vinculo">Vinculo</label>
                <input readonly class="form-control"  :class="{'is-invalid': errors.name}" type="text" v-model="vinculos.vinculo">
            </div>
            <div class="form-group col-sm-3">
                <label for="cargo">Cargo</label>
                <input readonly class="form-control"  :class="{'is-invalid': errors.name}" type="text" v-model="vinculos.cargo">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-2">
                <label for="padrao">Padrão</label>
                <input readonly class="form-control"  :class="{'is-invalid': errors.name}" type="text"  v-model="vinculos.paddrao">
            </div>
            <div class="form-group col-sm-4">
                <label for="vinculo">Vinculo</label>
                <input readonly class="form-control"  :class="{'is-invalid': errors.name}" type="text" v-model="vinculos.vinculo">
            </div>
            <div class="form-group col-sm-4">
                <label for="cargo">Cargo</label>
                <input readonly class="form-control"  :class="{'is-invalid': errors.name}" type="text" v-model="vinculos.cargo">
            </div>
            <div class="form-group col-sm-2">
                <label for="movimentacao">movimentacao</label>
                <input readonly class="form-control"  :class="{'is-invalid': errors.name}" type="text"  v-model="vinculos.paddrao">
            </div>
        </div>
        <folhas-vinculo-component v-bind:folhas="vinculos.folhas" v-show="vinculos.folhas && vinculos.folhas.length>0 && this.rh" v-bind:indice="this.indice"></folhas-vinculo-component>
        <pericias-vinculo-component v-bind:pericias="vinculos.pericias" v-show="vinculos.pericias && vinculos.pericias.length>0 && this.saude"></pericias-vinculo-component>
    </div>
</template>

<script>
export default {
    props:['vinculos','indice'],
  data () {
    return {
      dados: {},
      errors: {},
      submiting: false,
      rh: (this.$parent.$parent.permissions.includes('rh') || this.$parent.$parent.roles.includes('Admin')),
      saude: (this.$parent.$parent.permissions.includes('saude') || this.$parent.$parent.roles.includes('Admin'))
    }
  },
  mounted() {
  },
  methods: {
  }
}
</script>
